<div class="row">

    <div *ngIf="isLoading" class="loading-spiner">
        <img class="progressP" src="{{websiteRoot}}/{{imgurl}}/loader-elipses.gif" />
    </div>

    <div class="col-sm-12">

        <h2 class="mamTitle">
            <img src="{{websiteRoot}}/{{imgurl}}/mam-icon.png" alt="" class="mamTitleImg" />Production view
        </h2>

        <div class="tabs-main-container">
            <div class="step-wizard tab-content">
                <form id="productionForm" [formGroup]="productionForm">
                    <div class="row">

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="lblMediaAsset">Media asset
                                    <span class="mendatory">*</span>
                                </label>
                                <div class="clearfix"></div>
                                <ng-select id="ddlMediaAsset" formControlName="MediaAssetId" placeholder="Select media asset" [items]="mediaAssetsList" bindLabel="MediaAssetName"
                                    bindValue="MediaAssetId" (change)="onChangeMediaAsset()">
                                </ng-select>
                                <div *ngIf="(productionForm.controls['MediaAssetId'].invalid && (isproductionViewFormSubmitted || productionForm.controls['MediaAssetId'].dirty || productionForm.controls['MediaAssetId'].touched))"
                                    class="text-danger">
                                    <span *ngIf="productionForm.controls['MediaAssetId'].hasError('required') ">
                                        Media asset is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="lblIssueDate">Issue date
                                    <span class="mendatory">*</span>
                                </label>
                                <div class="clearfix"></div>

                                <ng-select [items]="issueDatesList" formControlName="IssueDateId" id="ddlIssueDate" (change)="onChangeIssueDate()" placeholder="Select issue date">
                                    <ng-option *ngFor="let items of issueDatesList | sortlist: '-CoverDate'" [value]="items.IssueDateId">
                                        {{items.CoverDate | date : "MM/dd/yyyy"}}
                                    </ng-option>
                                </ng-select>

                                <div *ngIf="(productionForm.controls['IssueDateId'].invalid && (isproductionViewFormSubmitted || productionForm.controls['IssueDateId'].dirty || productionForm.controls['IssueDateId'].touched))"
                                    class="text-danger">
                                    <span *ngIf="productionForm.controls['IssueDateId'].hasError('required') ">
                                        Issue date is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="AdType">Ad type </label>
                                <div class="clearfix"></div>
                                <ng-select id="ddlAdType" formControlName="AdTypeId" placeholder="Select ad type" [items]="adTypesList" bindLabel="AdTypeName"
                                    bindValue="AdTypeId" (change)="onChangeAdType()">
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Reps">Reps </label>
                                <div class="clearfix"></div>
                                <ng-select id="ddlReps" formControlName="RepId" placeholder="Select reps" [items]="repsList" bindLabel="RepName" bindValue="RepId"
                                    (change)="onChangeReps()">
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-2" style="margin-top: 25px">
                            <div class="form-group">
                                <button type="submit" (click)="getOrderByCustomFilterOption()" class="blueBtn createBtn">View</button>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Advertising pages </label>
                                <div style="text-align:center">
                                    <span>{{pageFraction}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br />

        <div class="tabs-main-container">

            <ul class="nav nav-tabs pvTab" id="myTabs" role="tablist">
                <li role="presentation" style="cursor: pointer;" [ngClass]="{'active':inCompleteTab, 'noclick':inCompleteDisable}">
                    <a (click)="setInCompleteOrderTabActive()" role="tab" data-toggle="tab" aria-controls="productionViewTab">Incomplete</a>
                </li>

                <li role="presentation" style="cursor: pointer;" [ngClass]="{'active':completeTab, 'noclick':completeDisable}">
                    <a (click)="setCompleteOrderTabActive()" role="tab" data-toggle="tab" aria-controls="productionViewTab">Complete</a>
                </li>

                <li role="presentation" style="cursor: pointer;" [ngClass]="{'active':pickUpFilesTab,  'noclick':pickupFilesDisable}">
                    <a (click)="setPickUpFilesTabActive()" role="tab" data-toggle="tab" aria-controls="productionViewTab">Pick up files</a>
                </li>

                <li role="presentation" class="pull-right text-right">
                    <select class="form-control full-width" id="ddlpvExport" style="width: 100%;" (change)="exportToFile()">
                        <option value="null">Export</option>
                        <option value="Excel" style="color:#df133a;">Excel</option>
                        <option value="PDF" style="color:#2063d1;">PDF</option>
                    </select>
                </li>
            </ul>

            <div class="step-wizard tab-content">

                <div *ngIf="inCompleteTab==true" class="tab-pane fade in" [class.active]="inCompleteTab==true" role="tabpanel" id="incompleteorders"
                    aria-labelledby="productionview-tab">
                    <asi-incomplete-ordertab></asi-incomplete-ordertab>
                </div>

                <div *ngIf="completeTab==true" class="tab-pane fade in" [class.active]="completeTab==true" role="tabpanel" id="completeorders"
                    aria-labelledby="productionview-tab">
                    <asi-complete-ordertab></asi-complete-ordertab>
                </div>

                <div *ngIf="pickUpFilesTab==true" class="tab-pane fade in" [class.active]="pickUpFilesTab==true" role="tabpanel" id="pickUpFilesOrders"
                    aria-labelledby="productionview-tab">
                    <asi-pickupfiles-ordertab></asi-pickupfiles-ordertab>
                </div>
            </div>
        </div>
    </div>
</div>