<form id="PickUpForm" [formGroup]="pickupfilesOrderForm">
  <div>
    <div class="table-responsive custom-table production-detail-table">
      <table class="table post-orders-table" id="adjustment-table">
        <thead>
          <tr>
            <th></th>
            <th>Advertiser</th>
            <th>Ad details</th>
            <th>Material info</th>
            <th>Rep</th>
            <th>Position</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let pickUpFilesOrder of pickUpFilesOrders">
            <td>
              <label class="checkbox-inline" style="margin-bottom:18px;">
                <input type="checkbox" class="checkthis" id="{{pickUpFilesOrder.MediaOrderId}}" [(ngModel)]="selectedIssueMediaOrder[pickUpFilesOrder.MediaOrderId]"
                  [ngModelOptions]="{standalone: true}" (change)="checkboxChange(pickUpFilesOrder)">
              </label>
            </td>
            <td>{{pickUpFilesOrder.AdvertiserName}}</td>
            <td>{{pickUpFilesOrder.AdTypeName }} | {{pickUpFilesOrder.AdcolorName }} | {{pickUpFilesOrder.AdSizeName}}</td>
            <td>{{pickUpFilesOrder.MaterialInfo}}</td>
            <td>{{pickUpFilesOrder.RepName}}</td>
            <td>{{pickUpFilesOrder.PositionName}}</td>
          </tr>
          <tr *ngIf="pickUpFilesOrders.length == 0">
            <td colspan="6" class="setTextCenter">No record is found</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br>

    <div class="row" [ngClass]="{'no-click':setProductionNoClick}">
      <div class="col-md-8 border-r">
        <div class="row">

          <div class="col-md-6 border-r">
            <div class="form-group" style="margin-bottom: 5px;">
              <label class="radio-inline">
                <input type="radio" name="NewPickupInd" id="rdoNew" value="1" formControlName="NewPickupInd" (click)="setEnableOrDisable('1')"> New
              </label>
            </div>
            <div class="col-md-12">
              <label class="radio-inline">
                <input type="radio" name="CreateExpectedInd" id="rdoCreate" value="1" formControlName="CreateExpectedInd" [attr.disabled]="dvNew ? '' : null"> We create
              </label>
            </div>
            <div class="col-md-6">
              <label class="radio-inline">
                <input type="radio" name="CreateExpectedInd" id="rdoExpected" value="0" formControlName="CreateExpectedInd" [attr.disabled]="dvNew ? '' : null"> Expected
              </label>
            </div>
            <div class="col-md-6">
              <label class="checkbox-inline">
                <input type="checkbox" formControlName="OnHandInd" [attr.disabled]="dvNew ? '' : null"> On hand
              </label>
            </div>
            <div class="expextedFields">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">On </label>
                  <div class="input-group date" data-date-format="mm/dd/yyyy">
                    <input type="text" class="form-control" id="MaterialExpectedDate" name="MaterialExpectedDate" formControlName="MaterialExpectedDate"
                      placeholder="Expected date" [attr.disabled]="dvNew ? '' : null" bsDatepicker [bsConfig]="{containerClass: 'theme-default' }">
                    <div class="input-group-addon">
                      <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Tracking number </label>
                  <input type="text" class="form-control" id="" formControlName="TrackingNumber" placeholder="Enter tracking number" [attr.disabled]="dvNew ? '' : null"
                    numbersOnly>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" name="NewPickupInd" id="rdoPickup" value="0" formControlName="NewPickupInd" (click)="setEnableOrDisable('0')"> Pick-up
              </label>
            </div>
            <div class="col-md-12">
              <div class="form-group" style="margin-bottom: 15px;">
                <label class="checkbox-inline">
                  <input type="checkbox" formControlName="ChangesInd" [attr.disabled]="dvPickup ? '' : null"> Changes
                </label>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group" style="margin-bottom: 5px;">
                <label for="">From</label>
                <div class="clearfix"></div>
                <ng-select id="ddlFrom" formControlName="PickupMediaOrderId" placeholder="Media asset | Issue date | Page number" [items]="mediaAssetsList"
                  bindLabel="MediaAssetIssueDate" bindValue="MediaOrderId" (change)="onChangeFrom()">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
        <hr style="margin:10px 0;">
        <div class="col-md-12">
          <div class="form-group" style="margin-bottom: 5px;">
            <label for="" style="padding-right: 15px;">Contact </label>
            <label class="radio-inline">
              <input type="radio" name="AdvertiserAgencyInd" id="billto1" formControlName="AdvertiserAgencyInd" (click)="getBillToContact('0')"
                value="1"> Advertiser
            </label>
            <label class="radio-inline">
              <input type="radio" name="AdvertiserAgencyInd" id="billto2" formControlName="AdvertiserAgencyInd" (click)="getBillToContact('0')"
                value="0"> Agency
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" style="margin-bottom: 10px;">
            <div class="clearfix"></div>
            <ng-select id="ddlContact" formControlName="MaterialContactId" placeholder="Select contact" [items]="billingToContactsList"
              bindLabel="PersonName.FullName" bindValue="Id" (change)="onChangeContact()">
            </ng-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group adStatus">
            <label for="ddlStatus">Status </label>
            <div>
              <ng-select formControlName="ProductionStatusId" id="ddlStatus" (change)="onChangeProductionStatus()" placeholder="Select status">
                <ng-option *ngFor="let items of productionStatusList" [value]="items.ProductionStatusId">
                  {{items.Name}}
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
          <div class="form-group custom-uploader" style="margin-bottom: 10px;">
            <label for="">Orig. file </label>
            <div class="input-group server_productions">
              <input type="text" id="OrigFileName" name="OrigFileName" class="form-control" formControlName="OrigFileName" placeholder="No file selected"
                readonly>
              <span class="input-group-btn">
                <span class="btn btn-default  custom-file-uploader">
                  <input id="originalfile-upload" class="production-Logo" type="file" (change)="uploadImage($event)" />
                  <img src="{{websiteRoot}}/{{imgurl}}/browse-file.png" alt="">
                </span>
                <span class=" custom-file-uploader docs-buttons-originalFile " role="group">
                  <div class="btn-group d-flex" role="group">
                    <button type="button" id="originalImageButton" (click)="showImageInViewerForOriginalFile()" class="btn btn-primary" title="Show the viewer">
                      <img src="{{websiteRoot}}/{{imgurl}}/view-file.png">
                    </button>
                  </div>
                </span>
                <div class="docs-pictures-originalFile clearfix" style="display:none;">
                  <span>
                    <img src="{{originalFileImageSrc}}" id="imgorig" alt="No Image">
                  </span>
                </div>
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group custom-uploader" style="margin-bottom: 10px;">
            <label for="">Proof file </label>
            <div class="input-group server_productions">
              <input type="text" name="filename" id="ProofFileName" class="form-control" formControlName="ProofFileName" placeholder="No file selected"
                readonly>
              <span class="input-group-btn">
                <span class="btn btn-default  custom-file-uploader">
                  <input id="prooffile-upload" class="production-Logo" type="file" (change)="uploadImageforProof($event)" />
                  <img src="{{websiteRoot}}/{{imgurl}}/browse-file.png" alt="">
                </span>
                <span class="custom-file-uploader docs-buttons-proofFile ">
                  <div class="btn-group d-flex" role="group">
                    <button type="button" id="proofImageButton" class="btn btn-primary" (click)="showImageInViewerForProofFile()" title="Show the viewer">
                      <img src="{{websiteRoot}}/{{imgurl}}/view-file.png">
                    </button>
                  </div>
                </span>
                <div class="docs-pictures-proofFile clearfix" style="display:none;">
                  <span>
                    <img src="{{proofFileImageSrc}}" alt="No image">
                  </span>
                </div>
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group custom-uploader" style="margin-bottom: 10px;">
            <label for="">Final file </label>
            <div class="input-group server_productions">
              <input type="text" name="filename" id="FinalFileName" class="form-control" formControlName="FinalFileName" placeholder="No file selected"
                readonly>
              <span class="input-group-btn">
                <span class="btn btn-default  custom-file-uploader">
                  <input id="finalfile-upload" class="production-Logo" type="file" (change)="uploadImageforfinal($event)" />
                  <img src="{{websiteRoot}}/{{imgurl}}/browse-file.png" alt="">
                </span>
                <span class="custom-file-uploader docs-buttons-finalFile ">
                  <div class="btn-group d-flex" role="group">
                    <button type="button" id="finalImageButton" class="btn btn-primary" (click)="showImageInViewerForFinalFile()" title="Show the viewer">
                      <img src="{{websiteRoot}}/{{imgurl}}/view-file.png">
                    </button>
                  </div>
                </span>
                <div class="docs-pictures-finalFile clearfix" style="display:none;">
                  <span>
                    <img src="{{finalFileImageSrc}}" alt="No Image">
                  </span>
                </div>
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group custom-uploader" [ngClass]="{error:pickupfilesOrderForm.controls['WebAdUrl'].invalid }" style="margin-bottom: 10px;">
            <label for="">Web ad URL </label>
            <div class="input-group">
              <input type="url" name="webAdUrl" class="form-control" formControlName="WebAdUrl" placeholder="Paste link">
              <span class="input-group-btn">
                <a href="{{pickUpFilesOrder.WebAdUrl}}" target="_blank">
                  <div class="btn btn-default open-link custom-file-uploader">
                    <img src="{{websiteRoot}}/{{imgurl}}/open-link.png" alt="">
                  </div>
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group" style="margin-bottom: 10px;">
            <label for="">Classified text</label>
            <div class="clearfix"></div>
            <textarea class="form-control" rows="4" formControlName="ClassifiedText" placeholder="Enter classified text"></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-4 paddl-30">

        <div class="form-group" style="margin-bottom: 10px;">
          <label for="">Headline </label>
          <input type="text" class="form-control" id="txtHeadLine" formControlName="HeadLine" placeholder="Enter headline">
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
          <label for="">Tear sheet </label>
          <input type="text" class="form-control" formControlName="TearSheets" id="txtTearSheet" placeholder="Enter tear sheet" numbersOnly>
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
          <label for="">Page number </label>
          <input type="text" class="form-control" formControlName="PageNumber" id="txtPgNo" placeholder="Enter page number" numbersOnly>
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
          <label for="">Separation</label>
          <div class="clearfix"></div>
          <ng-select formControlName="SeparationId" id="ddlSeparation" (change)="onChangeSeparation()" placeholder="Select separation">
            <ng-option *ngFor="let items of separationsList" [value]="items.SeparationId">
              {{items.Name}}
            </ng-option>
          </ng-select>
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
          <label for="">Position</label>
          <div class="clearfix"></div>
          <ng-select formControlName="PositionId" id="ddlPosition" (change)="onChangePosition()" placeholder="Select position">
            <ng-option *ngFor="let items of positionsList" [value]="items.PositionId">
              {{items.Name}}
            </ng-option>
          </ng-select>
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
          <label for="">Comments</label>
          <div class="clearfix"></div>
          <textarea class="form-control" rows="5" formControlName="ProductionComment" placeholder="Write your comments"></textarea>
        </div>

      </div>
    </div>

    <div class="psAddition">
      <div class="row" [ngClass]="{'no-click':setProductionNoClick}">
        <div class="col-md-11 col-md-offset-1">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group" style="margin-bottom: 10px;">
                    <label>Production stages </label>
                  </div>
                </div>
                <div class="col-md-6" style="float:left">
                  <div class="form-group" style="margin-bottom: 10px;">
                    <ng-select formControlName="pickUpFilesOrderProductionStages" id="ddlProductionStages" (change)="onChangeProductionStages()"
                      placeholder="Select production stages">
                      <ng-option *ngFor="let items of productionStages1List" [value]="items.ProductionStageId">
                        {{items.Name}}
                      </ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group" style="margin-bottom: 10px;">
                    <button type="button" class="blueBtn" id="btnproductionstages" (click)="addProductionStages()">Add</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="table-responsive custom-table production-detail-table">
                    <table class="table ProductionStagestable" id="adjustment-table">
                      <thead>
                        <tr>
                          <th>Production stages</th>
                          <th>Update by</th>
                          <th>Update date</th>
                          <th>Update time</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="ProductionStagestbodytable">
                        <tr *ngFor="let productionstage of pickUpFilesOrder_ProductionStagesList">
                          <td>{{productionstage.ProductionStagesName}}</td>
                          <td>{{productionstage.UpdateBy }}</td>
                          <td>{{productionstage.UpdatedDate | date: "MM/dd/yyyy"}}</td>
                          <td>{{productionstage.UpdatedDate | date:'HH:mm:ss'}}</td>
                          <td>
                            <a (click)="deleteProductionStage(productionstage);" title="Delete" style="width:13px;">
                              <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png" alt="" />
                            </a>
                          </td>
                        </tr>
                        <tr *ngIf="pickUpFilesOrder_ProductionStagesList.length == 0">
                          <td colspan="5" class="setTextCenter">No record is found</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" style="margin-top:40px; margin-bottom: 20px;">
                <button type="button" class="createBtn greenBtn" id="btnrepsTerritories" (click)="setToCompleteInserationOrder()">MARK AS COMPLETE</button>
              </div>
              <div class="form-group" style="margin-bottom: 10px;">
                <button type="button" class="createBtn blueBtn" id="btnrepsTerritories" (click)="update()" style="padding: 8px 73px;">UPDATE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>